#textStyle {
    font-family: Gatwick;
    color: #000;
    font-size: 28px;
}

#steps {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#topNav{
    width: 90%;
    text-align: left;
    padding-left: 10%;
}
#division1, #division2, #division3{
    width: 100%;
    color: black;
    background-color: #DCDCDF;
    border: white solid px;
    display: inline-block;
    border-radius: 5%;
    flex: 1;
    padding: 0;
    min-height: 200px;
}

#division1-1, #division2-2, #division3-3{
    width: 100%;
    box-sizing: border-box;
    padding: 0; 

}

#input-text, textarea { 
    background-color: #579792;
}

#step-title{
    padding-top: 20px;
    color: #FF6F28;
    text-align: center;
    font-size:25px;
}

input[type=text] {
    background-color: #579792;
    color: white ;
    border: none ;
    border-radius: 5px;
    width: 200px ;
    height: 25px;
  } 

  .animated-element {
    text-align: center;
    height: 40;
    animation: fadeInOut 2s infinite; /* 2s duration, infinite loop */
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
}

